.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
input.input.input-bordered.w-full {
  height: 100%;
  padding: 10px 15px;
}
select.select-list {
  width: 100%;
  border: 1px solid #d3d3d3;
  padding: 10px;
  border-radius: 10px;
  outline: none;
  margin: 0;
}
span.mt-4.select-slide {
  margin: 15px 0 4px;
  display: inline-block;
  user-select: none;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
}
.inputRow {
  display: flex;
  gap: 10px;
  align-items: end;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}