@tailwind base;
@tailwind components;
@tailwind utilities;

.loading-indicator:before {
  content: '';
  background: #00000080;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

.loading-indicator:after {
  content: ' ';
  position: fixed;
  top: 40%;
  left: 45%;
  z-index: 10010;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
  border: 16px solid #f3f3f3;
  /* Light grey */
  border-top: 16px solid #0474bf;
  /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

/* comman color btn  */
.btn-primary {
  background-color: #2c427d;
  border-color: #2c427d;
}

.btn-primary:hover,
.btn-primary.btn-active {
  background-color: #324c93;
  border-color: #324c93;
}

.text-primary {
  color: #2c427d;
}


/* paginatin css code */
.App .App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App #App-Item {
  padding: 20;
}

.App .App-dropDown {
  height: 50;
  min-height: 5vh;
  margin-left: 5%;
}

.App .dropDown-Item {
  min-height: 40;
  align-items: center;
  justify-content: center;
  display: 1;
}

.App .App-table {
  align-content: center;
}

.App .table-container {
  margin-left: 5%;
  margin-right: 5%;
}

.App #dropDownStyle {
  height: 40%;
}

.App .tableStyle {
  border-collapse: collapse;
  /* width: 100%; */
}

.App th,
.App td {
  text-align: left;
  padding: 8px;
  width: 300px;
  font-size: 16;
  display: flexbox;
  /* text-align: center;
  justify-content: flex-start;
  flex: 1; */
}

.App tr:hover {
  background-color: #ddd;
}

.App tr:nth-child(even) {
  background-color: #f2f2f2;
  border: #282c34;
}

.App th {
  background-color: grey;
  color: white;
}

.App tbody {
  /* display: block; */
  height: 250px;
  overflow: auto;
  height: 60%;
  width: 100%;
  padding: 8px;
}

.App #pagination {
  margin-top: 25px;
  float: right;
  margin-right: 8%;
}

.App #pagination span {
  cursor: pointer;
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid #ddd;
}

.App .Drop-down {
  float: left;
}

.App tr {
  align-content: center;
  justify-items: center;
  font-size: 16;
}

.App td {
  border: 1px solid rgb(12, 12, 12);
  display: 1;
  align-content: center;
  justify-items: center;
  text-align: center;
}

.App th {
  border: 1px solid rgb(12, 12, 12);
  text-align: center;
  font-size: 16;
}

.App span:hover {
  background-color: red;
}

.App span:focus-visible {
  background-color: red;

}

li.active a {
  background-color: #000 !important;
  color: #fff;
}

.navigation.example {
  text-align: right;
  margin-top: 40px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.inputRow select {
  width: 100%;
  border: 1px solid #d1d1d1;
  margin-top: 15px;
  padding: 10px;
  border-radius: 10px;
  outline: none;
}
.inputRow select option {
  padding: 10px 10px;
}
.select-with-ps {
  display: flex;
  font-style: italic;
  gap: 10px;
}
.badge.badge-primary, .badge.badge-red {
  cursor: pointer;
}


/* pegination css code  */
.pagination-perent ul{
  display: flex;
  width: 100%;
  gap: 20px;
  justify-content: end;
}
.pagination-perent ul li {
  font-weight: 600;
  color: #000;
  display: flex;
  align-items: center;
}
.pagination-perent ul li a svg {
  font-size: 30px;
}
.pagination-perent ul li.selected {
  background-color: rgba(0, 0, 0, 0.08);
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  border-radius: 50px;
  align-items: center;
}
.pagination-perent ul li.next a {
  font-weight: 600;
  color: #000;
}
.previous.disabled, .next.disabled {
  opacity: 0.38;
}

/* input feild css code  */
.sdfhsd-sdfkdsj {
  display: flex;
  align-items: end;
  justify-content: end;
  min-height: 96px;
  position: relative;
}
img.profileUpdate-dfd {
  position: absolute;
  max-width: 38px;
  height: 38px;
  object-fit: contain;
  top: 36px;
  right: 2rem;
  border-radius: 10px;
  box-shadow: 0px 7px 18px #00000036;
}
input.fileProfile {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 60px;
  position: relative;
  /* border: 1px solid #000; */
}
/* total transaction css code */
.total-amount {
  display: flex;
  justify-content: end;
  gap: 10px;
}

.total-amount > div {
  background-color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
  text-transform: capitalize;
  font-weight: 600;
}

.remove-background:active{
  background-color: #fff;
}

svg.eye-icon {
  position: absolute;
  top: 45px;
  right: 11px;
  font-size: 25px;
  cursor: pointer;
}
.add-style-sdf {
  cursor: pointer;
}
.description-data {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 200px;
}
.avatar > .mask {
  position: relative;
}
.overlaybtn {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #00000078;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
}
input.file-input-operator {
  width: 100%;
  border: 1px solid #0000002e;
  padding: 10px 15px;
  border-radius: 5px;
  
}
/* =============== switch css code ============= */
/* .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
} */

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 22px;
  margin-top: 5px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 17px;
  width: 17px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2c427d;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2c427d;
}

input:checked + .slider:before {
  -webkit-transform: translateX(17px);
  -ms-transform: translateX(17px);
  transform: translateX(17px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/* =============== switch css code ============= */

.stat-title {
  font-size: 13px !important;
}
.stat-value {
  font-size: 28px !important;
}
ul.commission-customize li {
  text-transform: capitalize;
  margin: 8px 3px;
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 5px;
  font-size: 13px;
}
ul.commission-customize li div svg {
  margin-left: auto !important;
}
html[native-dark-active] .menu :where(li) > :where(:not(ul)) {
  color: var(--native-dark-font-color) !important;
}
html a:visited, html a:visited > * {
  color: var(--native-dark-font-color) !important;
}
p.verify {
  position: absolute;
  bottom: 10px;
  left: 42%;
}
p.verify.add-form {
  position: absolute;
  bottom: 23px;
  left: 85%;
}
.relative{
  position: relative;
}